*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: auto;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: grid;
  grid-template-columns: auto 194px;
  row-gap: 30px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  padding: 2px;
  object-fit: contain;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  height: 101px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
/* identical to box height */
  color: #FFFFFF;
  border: none;
}

.title{
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  /* or 70px */
  text-transform: uppercase;
}

.content__accent{
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  cursor: pointer;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  /* identical to box height, or 30px */
  text-transform: uppercase;

  color: #FFFFFF;
}

.content__video-card-description{
  line-height: 16px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;

}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;

  width: 211px;
  height: 22px;

  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield {
  /* Санкт-Петербург, например */
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height */

  color: rgba(255, 255, 255, 0.7);
  appearance: none;
  border: none;

  background-color: transparent;
  width: 225px;
  height: 22px;

  border-width: 1px 0px;
  border-style: solid;
  border-color: #FFFFFF;

}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  width: 212px;
  height: 22px;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  /* Rectangle 24 */
    
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18px;
  height: 18px;
  outline: 1px solid #fff;
  position: relative;
}

.button {
  /* button */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;


  width: 194px;
  height: 34px;
  left: 517px;
  top: 20px;
  color: #FFFFFF;
  background: transparent;

  border: 1px solid #FFFFFF;
  
}

.search-form__submit-button {
  /* Найти */

  line-height: 22px;
  /* identical to box height */
  text-align: center;
  cursor: pointer;
  
  align-self: flex-end;
}

.more-button {
 /* button */
   
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 100%;
  height: 34px;

  cursor: pointer;
}

.search-form__label-text{
  padding-left: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 2px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
  inset: 0;
  margin: auto;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}


.button:active {
/* button */
  background: #545050;
  border: 1px solid #FFFFFF;
}

.content__card-link:focus {
  outline: none;
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;  
}
.content__card-link:active {
  background-color: #545050;
}
.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
